<div class="container mt-5 text-main">
  <div class="row">
    <div class="col-md-6 p-0 ">
      <figure>
        <img src="./assets/Images/gaming.ebaf2ffc84f4451d.jpg" class="w-100 h-100" alt="" srcset="">
      </figure>
    </div>
    <div class="col-md-6 sec-bg px-4  ">
      <form (ngSubmit)="handelLogIn(logInForm)" [formGroup]="logInForm" class="py-4  ">

        <img src="./assets/Images/logo.png" class="w-25 d-block mx-auto" alt="">
          <h2 class="text-center mb-4 fs-4" >Log in to GameOver</h2>

      <input class="form-control my-3" type="email" name="" placeholder="email"  formControlName="email" >
      <div *ngIf="logInForm.get('email')?.errors && logInForm.get('email')?.touched " class="alert alert-danger py-2  my-3  ">
        <p *ngIf="logInForm.get('email')?.getError('required')" class="py-0  my-auto "> email is required </p>
        <p *ngIf="logInForm.get('email')?.getError('pattern')" class="py-0"> enter valid mail </p>
      </div>
      <input class="form-control my-3" type="password" name="password" placeholder="Password"  formControlName="password">
      <div *ngIf="logInForm.get('password')?.errors && logInForm.get('password')?.touched " class="alert alert-danger py-2  my-3  ">
        <p *ngIf="logInForm.get('password')?.getError('required')" class="py-0  my-auto "> password is required </p>
        <p *ngIf="logInForm.get('password')?.getError('pattern')" class="py-0"> password at least 8 character one num  </p>
      </div>



        <button [disabled]="logInForm.invalid" type="submit"  class="btn btn-secondary d-block  w-100 ">Log In</button>
        <div *ngIf="apiError || apiMsg " class="alert alert-danger my-3 py-2">
          {{apiError}}
          {{apiMsg}}
        </div>
        <hr>
        <p class="text-center mt-2 text-muted  cpr ">
          <a href="#">forget password</a>
        </p>
        <p class="text-center">not  member yet ? <a routerLink="/register"> Create  Account  <i class="fa-solid fa-angle-right fa-sm "></i> </a></p>
      </form>
    </div>
  </div>
</div>


<div class="loaderBox bg-main" *ngIf="loader">
  <div class="sk-cube-grid" ><!--  -->
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
