<div class="container">

  <div class="row gy-4 my-5">
    <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let game of gamesBox.slice(0,20)" >
      <a [routerLink]="['/gameDetails',game.id]" >
        <div class="game cursor-pointer">
          <img class="w-100" src="{{game.thumbnail}}" alt="">
          <div class="card-body p-3">
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="fs-5 text-sm ">{{game.title.split('').slice(0,15).join('')}}</h2>
              <button class="btn btn-primary">free</button>
            </div>
            <p>{{game.short_description.split('').slice(0,25).join('')}}...</p>
            <div class="d-flex justify-content-between">
              <i class="fa-solid fa-plus bg-secondary text-dark   "></i>
              <div class="">
                <span class=" game-category bg-secondary rounded text-dark p-1  me-1 ">{{game.genre}}</span>
                <i class="  " [ngClass]="{'fa-solid fa-window-maximize': game.platform =='Web Browser' ,'fa-brands fa-windows':game.platform=='PC (Windows)'}" ></i>
              </div>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>


  </div>

  <div class="loaderBox bg-main" *ngIf="loader">
    <div class="sk-cube-grid" ><!--  -->
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
